<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yodes.open.crawler.dal.ThreadDao">

    <insert id="insert" parameterType="cn.yodes.open.crawler.domain.ThreadEntity">
        INSERT INTO
            t_thread
            (title, content, update_time, type, source)
        VALUES (#{title}, #{content}, #{updateTime}, #{type}, #{source})
    </insert>

</mapper>